@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  direction: rtl;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Vazir", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

button,
input,
textarea,
select {
  font-family: inherit;
}
